<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ff953d3c-daf5-4a87-9142-eebcac486450" name="TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="ff953d3c-daf5-4a87-9142-eebcac486450fileName">TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
