<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="8bf57f10-750a-44e6-9b28-b56752537133" name="TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="8bf57f10-750a-44e6-9b28-b56752537133fileName">TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
